<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração</title>
    <link rel="stylesheet" href="../static/estilos/styleLogin.css">
</head>

<body>
    <header>

    </header>
    <main>
        <div>
            <form id="loginForm">
                <input type="email" name="email" id="email" required placeholder="Usuário">
                <input type="password" name="password" id="password" required placeholder="Senha">
                <input type="submit" value="Entrar">
            </form>
        </div>
    </main>
    <footer>
        <section>
            <article class="terc">
                <div>
                    <img src="../static/imagens/fundoFooter.png" alt="Fundo">
                </div>
                <p> &copy 2026 M'Immobbili rights reserved - create by Wesley Xavier</p>
            </article>
        </section>
    </footer>

    <script type="module" src="../static/loginAdm.js">

    </script>
</body>

</html>